.generic-container {
    margin: 10px 30px;
    border: 2px solid;
    border-radius: 10px 10px 0 0;
    display: inline-block;
    overflow: hidden;
    width: 90%;
}

.heading {
    background-color: darkseagreen;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;

}

.container-contents > * {
    margin: 5px;
    padding: 5px;
    position: relative;
}