.generic-container {
    margin: 10px 10px;
    border: 2px solid;
    border-radius: 14px 14px 0 0;
    overflow: hidden;
}

.heading, .footer {
    background-color: darkseagreen;
    padding: 5px 0 5px 13px;
}

.heading {
    margin-bottom: 5px;
}

.container-contents > * {
    margin: 10px;
}

.paginationList > a, span {
    padding-right: 5px;
}

