.header {
    margin: 20px 10px;
    padding: 10px 30px;
    border: 2px solid;
    border-radius: 14px;
}

.searchBox {
    float: right;
}

.header > nav {
    padding-left: 3%;
    float: right;
}

#nav-menu {
    position: absolute;
}
