.details
  margin-left: 10%
  > *
    margin-bottom: 5px

.grid-2, .grid-3
  float: left

.user
  border: 2px solid
  border-radius: 14px
  width: 85%
  margin-left: 5%
  padding-left: 3%

  > *:nth-child(2)
    margin-left: 7%
