body {
    margin: 0 70px;
}

#main-contents {
    margin: 0 30px;
}

#main-contents > * {
    display: inline-block;
}

.major-part {
    width: 61%;
}

.minor-part {
    width: 39%;
}

.small-part {
    font-size: 12px;
}

.right-part {
    float: right;
}

.left-part {
    float: left;
}

/*Style for forms*/
.lines-container > * {
    margin-bottom: 10px;
    width: 48%;
    display: inline-block;
}

/*Clearfix for containing floats*/
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    clear: both;
    *zoom: 1;
}