/* TODO Check whether this can be refactored for all units posted*/

.post:before,
.post:after {
    content: "";
    display: table;
}
.post:after {
    clear: both;
}
.post {
    clear: both;
    *zoom: 1;
}
.post > * {
    display: inline-block;
}

.photo {
    float:left;
    height: 50px;
    border: solid thin;
}

.details {
    margin-left: 10px;
}